{% extends 'base.html' %}
{% load static %}
{% block title %}Genesis Cinemas - Movie Details{% endblock %}

{%block content %}

<div class="single-page-agile-main">
<div class="container">
		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  {% for movie_detail in movies_detail %}
				  <li class="active">{{ movie_detail.movie_title|title }}</li>
				</ol>
			</div>
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h3>{{ movie_detail.movie_title }}</h3>
					</div>
						<div class="video-grid-single-page-agileits">
							<div data-video="dLmKio67pVQ" id="video"> <img src="{{ movie_detail.movie_thumbnail }}" alt="" width="745" height="450"/> </div>
						</div>
					</div>
					{% endfor %}
					<div class="song-grid-right">
						<div class="share">
							<h5>Book Now</h5>
							<div class="single-agile-shar-buttons">
							<ul>
							    {% for movie_detail_performance in movies_detail_performance %}
							    {% if 'Mon' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% elif 'Tue' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% elif 'Wed' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% elif 'Thu' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% elif 'Fri' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% elif 'Sat' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% elif 'Sun' in movie_detail_performance.perform_date %}
							    {{ movie_detail_performance.perform_date }}
							    {% endif %}
							    {% endfor %}
								<li>
									<a href="https://twitter.com/intent/tweet?screen_name=w3layouts" class="twitter-mention-button" data-show-count="false">Tweet to @w3layouts</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								</li>
							</ul>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 single-right">
					<h3>Up Next</h3>
					<div class="single-grid-right">
					    {% for next_movie in next_movies %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="single.html"><img src="{{ next_movie.movie_thumbnail }}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="single.html" class="title"> {{ next_movie.movie_title }}</a>
								<p class="author"><a href="#" class="author">Rating: {{ next_movie.movie_certificate }}</a></p>
								<p class="views">Genre: {{ next_movie.movie_genre }}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
					{% if below_slider_movies %}
				{% for below_slider_movie in below_slider_movies %}
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a href="single.html" class="hvr-shutter-out-horizontal"><img src="{{ below_slider_movie.movie_thumbnail }}" title="album-name" class="img-responsive" alt=" " />
								<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a href="single.html">{{ below_slider_movie.movie_title|title }}</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>{{ below_slider_movie.movie_start_date }}</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li>Rating:<a href="#">{{ below_slider_movie.movie_certificate }}</a></li>
											<!--<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>-->
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p>NEW</p>
							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="alert alert-info">
					    <center><p>There are no movies showing currently</p></center>
					</div>
					{% endif %}
				</div>
			</div>
		<!--body wrapper end-->
				</div>
				<!-- //w3l-latest-movies-grids -->
			</div>
		</div>
	<!-- //w3l-medile-movies-grids -->

{% endblock %}